html {
	overflow-y:scroll;
}
html, body {
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    font-size:12px;
}
.left {
    float:left;
}
.right {
    float:right;
}
.clear {
    clear:both;
}
ul, li {
    margin:0;
    padding:0;
    list-style:none;
}

/* -----------------------------------------------------------------------------
 * CONTENT
 * ----------------------------------------------------------------------------- */
#CGallery {
    position:relative;
    width: 660px;
	margin:0 auto;
}
#imgHolder {
	
}
#CGallery #infoH {
    width:243px;
    height:80px;
}
#thumbH {
    width:660px;
	overflow:hidden;
	position:relative;
	height:100px;
}
#thumbH ul {
	position:absolute;
	width:1500px;
	height:72px;
}
#thumbH ul li{
	float:left;
	margin-left:5px;
}