html {
	overflow-y:scroll;
}
html, body {
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    font-size:12px;
}
.left {
    float:left;
}
.right {
    float:right;
}
.clear {
    clear:both;
}
ul, li {
    margin:0;
    padding:0;
    list-style:none;
}

/* -----------------------------------------------------------------------------
 * CONTENT
 * ----------------------------------------------------------------------------- */
#wrapper {
	width:660px;
	margin:0 auto;
	text-align:center;
	overflow:hidden;
}

#thumbH {
	position:absolute;
	width:660px;
	overflow:hidden;
}
#thumbH ul {
	position:relative;
	width:1500px;
}
#thumbH ul li {
	float:left;
	display:block;
}